# Sales Analysis - AAL

### 1. Data Wrangling

In [17]:
# importing the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##### Check for missing values

In [18]:
# Load data from the csv file
df = pd.read_csv('../data/ausapparalsales4thqrt2020.csv')

# Check missing data
missing_data = df.isna().sum()

# Count rows
row_count = df.shape[0]

# Non-missing data
non_missing_data = df.notna().sum()

print(f'Total Rows: {row_count}\n\nMissing Data:\n{missing_data}\n\nNon-missing Data:\n{non_missing_data}')

Total Rows: 7560

Missing Data:
Date     0
Time     0
State    0
Group    0
Unit     0
Sales    0
dtype: int64

Non-missing Data:
Date     7560
Time     7560
State    7560
Group    7560
Unit     7560
Sales    7560
dtype: int64

##### The above indicates that there is no missing data.

##### Dropping Null Values
If the percentage of missing values is relatively small and randomly distributed, we can consider dropping rows with missing values un=sing df.dropna().

##### Filling Null Values
If missing values follow a pattern or can be reasonably estimated, we can consider filling them with appropriate values like mean, median, or forward/backward fill. In this case we can use df.fillna().

In [19]:
from sklearn.preprocessing import MinMaxScaler

# Numeric columns for normalization
numeric_cols = ['Unit', 'Sales']

# Initializing scaler
scaler = MinMaxScaler()

# Create new columns for normalized data
normalized_cols = [f'{col}_normalized' for col in numeric_cols]

# Normalizing columns
df[normalized_cols] = scaler.fit_transform(df[numeric_cols])

# Showing first few rows of the normalized data
print("Normalized Data:")
print(df.head())

Normalized Data:
        Date        Time State     Group  Unit  Sales  Unit_normalized  \
0  01 Oct 20     Morning    WA      Kids     8  20000         0.095238
1  01 Oct 20     Morning    WA       Men     8  20000         0.095238
2  01 Oct 20     Morning    WA     Women     4  10000         0.031746
3  01 Oct 20     Morning    WA   Seniors    15  37500         0.206349
4  01 Oct 20   Afternoon    WA      Kids     3   7500         0.015873

   Sales_normalized
0          0.095238
1          0.095238
2          0.031746
3          0.206349
4          0.015873

#### Grouping
##### Grouping by Sales
##### By State

In [20]:
# Group by State and sum sales
sales_by_state = df.groupby('State')['Sales'].sum()

print("Total Sales by State:")
print(sales_by_state)

Total Sales by State:
State
NSW     74970000
NT      22580000
QLD     33417500
SA      58857500
TAS     22760000
VIC    105565000
WA      22152500
Name: Sales, dtype: int64

##### By Group

In [22]:
# Group by Group and sum sales
sales_by_group = df.groupby('Group')['Sales'].sum()

print("\nTotal Sales by Group:")
print(sales_by_group)

Total Sales by Group:
Group
Kids       85072500
Men        85750000
Seniors    84037500
Women      85442500
Name: Sales, dtype: int64

##### By Unit and Sales
##### By State

In [23]:
# Group by State and sum units and sales
unit_sales_by_state = df.groupby('State')[['Unit', 'Sales']].sum()

print("\nTotal Units and Sales by State:")
print(unit_sales_by_state)

Total Units and Sales by State:
        Unit      Sales
State
NSW    29988   74970000
NT      9032   22580000
QLD    13367   33417500
SA     23543   58857500
TAS     9104   22760000
VIC    42226  105565000
WA      8861   22152500

##### By Group

In [24]:
# Group by Group and sum units and sales
unit_sales_by_group = df.groupby('Group')[['Unit', 'Sales']].sum()

print("\nTotal Units and Sales by Group:")
print(unit_sales_by_group)

Total Units and Sales by Group:
          Unit     Sales
Group
Kids     34029  85072500
Men      34300  85750000
Seniors  33615  84037500
Women    34177  85442500